name: Cloud Run Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  SERVICE_NAME: belenios
  IMAGE_NAME: belenios
  REGION: southamerica-east1

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Google Auth
      id: auth
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Set up Cloud SDK
      uses: 'google-github-actions/setup-gcloud@v1'

    - name: Configure Docker
      run: |
        gcloud auth configure-docker gcr.io --quiet

    - name: Build and Push Container
      run: |
        docker build -f cloudrun/Dockerfile -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ github.sha }} .
        docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
        docker tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ github.sha }} gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE_NAME }}:latest
        docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE_NAME }}:latest

    - name: Deploy to Cloud Run
      uses: 'google-github-actions/deploy-cloudrun@v2'
      with:
        service: ${{ env.SERVICE_NAME }}
        image: gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
        region: ${{ env.REGION }}
        flags: '--execution-environment=gen2 --add-volume=name=belenios-data,type=cloud-storage,bucket=belenios --add-volume-mount=volume=belenios-data,mount-path=/mnt/belenios-data'
        env_vars: |
          SMTP_RELAY_HOST=127.0.0.1
          SMTP_RELAY_PORT=12525
          SSH_PRIVATE_KEY_B64=${{ secrets.SSH_PRIVATE_KEY_B64 }}
          SSH_USER=lucas.teles
